<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>GOSSIP ! Viens tout nous raconter </h1>
    <a href="/gossips/new/">Identifie toi et ajoute ton potin ici ! </a>

    <% gossips.each do |gossip| %>
        <p>
         L'auteur du potin : <%= gossip.author %><br/>
         Le potin : <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>
